@font-face {
    font-family: "SFPRO";
    src: url(font/SFPRODISPLAYREGULAR.OTF);
    font-size: 12px;
}

body {
    margin: 0;
    font-family: "SF PRO TEXT";
    font-size: 12px;
}

header {
    background-color: #000000CC;
    color: whitesmoke;
    width: 1425px;
    height: 44px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0; 
    right: 0;

}

header img {
    padding-left: 1em;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header li {
    font-size: 12px;
    margin: 1.5em;
}
