@font-face {
    font-family: "SFPRO";
    src: url(font/SFPRODISPLAYREGULAR.OTF);
    font-size: 12px;
}

body {
    margin: 0;
}

header {
    background-color: #000000CC;
    color: whitesmoke;
    width: 1425px;
    height: 44px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

header img {
    padding-left: 1em;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header li {
    padding: 0 8px 0 8px;
    font-size: 12px;

}
